In [1]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /Users/priyamittal/anaconda3/lib/python3.6/site-packages (1.2.1)

In [2]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, MetaData
import pandas as pd

engine = create_engine("sqlite:///./Website/static/sqlite/twitch.sqlite",echo = False)
# metadata = MetaData(bind=engine)
Base = automap_base()

connection = engine.connect()

In [149]:
Base.prepare(engine, reflect=True)
# Base.metadata.reflect(engine)

In [150]:
print(Base.classes.keys())

['game_data', 'top_games']

In [151]:

top_games = Base.classes.top_games

In [146]:
top_games.game_name

In [132]:
session = Session(engine)

columns = session.query(top_games).first()
columns.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef10e438>,
 'channels': 4654,
 'game_name': 'Grand Theft Auto V',
 'viewers': 482305}

In [133]:
for row in session.query(game_data.game_name).limit(100).all():
    print(row)

('ARK: Survival Evolved',)
('ASMR',)
('Among Us',)
('Animal Crossing: New Horizons',)
('Apex Legends',)
('Art',)
('Battlerite',)
('Black Desert Online',)
('Call Of Duty: Modern Warfare',)
('Call of Duty: Black Ops Cold War',)
('Call of Duty: Warzone',)
('Chess',)
('Clash Royale',)
("Conqueror's Blade",)
('Counter-Strike: Global Offensive',)
('Dark Souls III',)
('DayZ',)
('Dead by Daylight',)
('Destiny 2',)
('Diablo III',)
('Dofus',)
('Dota 2',)
('Dungeons & Dragons',)
('Enlisted',)
('Escape from Tarkov',)
('FIFA 21',)
('FINAL FANTASY XIV Online',)
('First Class Trouble',)
('Food & Drink',)
('Fortnite',)
('Forza Horizon 4',)
('Garena Free Fire',)
('Gartic Phone',)
('Genshin Impact',)
('Grand Theft Auto V',)
('Halo: The Master Chief Collection',)
('Hearthstone',)
('Hobo: Tough Life',)
('Hunt: Showdown',)
('It Takes Two',)
('Just Chatting',)
('LOST ARK',)
('League of Legends',)
('League of Legends: Wild Rift',)
('Legends of Runeterra',)
('Little Nightmares II',)
('MLB The Show 21',)
('Magic: The Gathering',)
('Mario Kart 8',)
('Minecraft',)
('Monster Hunter Rise',)
('Music',)
('NBA 2K21',)
('NieR Replicant Ver.1.22474487139...',)
('Old School RuneScape',)
('Outriders',)
('Overwatch',)
("PLAYERUNKNOWN'S BATTLEGROUNDS",)
('Path of Exile',)
('Phasmophobia',)
('Poker',)
('Pokémon GO',)
('Pokémon Platinum',)
('Pokémon Sword/Shield',)
('Pokémon Trading Card Game',)
('Resident Evil',)
('Retro',)
('Roblox',)
('Rocket League',)
('Rust',)
('SMITE',)
('Science & Technology',)
('Sea of Thieves',)
('Slay the Spire',)
('Slots',)
('Sports',)
('Spyro the Dragon: Reignited Trilogy',)
('StarCraft II',)
('Street Fighter V',)
('Super Mario World',)
('Super Smash Bros. Ultimate',)
('TV Guide',)
('Talk Shows & Podcasts',)
('Teamfight Tactics',)
('The Binding of Isaac: Repentance',)
('The Isle',)
('The Legend of Zelda: Breath of the Wild',)
('Tibia',)
("Tom Clancy's Rainbow Six Siege",)
('Trials Rising',)
('Tv star',)
('VALORANT',)
('VRChat',)
('War by Grow Games',)
('Weed Shop 3',)
('World of Warcraft',)
('Worms W.M.D',)
('XCOM 2',)
('osu!',)

In [139]:
data_list = []
for row in session.query(top_games).all():
     data_list.append(row.__dict__)

In [156]:
data_list = []
for row in session.query(top_games).all():
     #print(row.__dict__)
     data_list.append(row.__dict__["game_name"])
data_list

['Grand Theft Auto V',
 'Just Chatting',
 'League of Legends',
 'VALORANT',
 'Fortnite',
 'Little Nightmares II',
 'Apex Legends',
 'Mario Kart 8',
 "Tom Clancy's Rainbow Six Siege",
 'Garena Free Fire',
 'Counter-Strike: Global Offensive',
 'Rocket League',
 'Minecraft',
 'Call of Duty: Warzone',
 'Sea of Thieves',
 'Path of Exile',
 'Dead by Daylight',
 'NBA 2K21',
 'World of Warcraft',
 'Dota 2',
 'Talk Shows & Podcasts',
 'Escape from Tarkov',
 'Music',
 'Diablo III',
 'Slots',
 'Hearthstone',
 'Dark Souls III',
 'Call of Duty: Black Ops Cold War',
 'The Isle',
 'Call Of Duty: Modern Warfare',
 'FIFA 21',
 'Poker',
 'Magic: The Gathering',
 'Overwatch',
 'Monster Hunter Rise',
 'Rust',
 'ASMR',
 'Chess',
 'Art',
 'Gartic Phone',
 'SMITE',
 'Battlerite',
 'Dofus',
 'War by Grow Games',
 'Genshin Impact',
 'XCOM 2',
 'Teamfight Tactics',
 'Resident Evil',
 'Destiny 2',
 'MLB The Show 21',
 "PLAYERUNKNOWN'S BATTLEGROUNDS",
 'Super Smash Bros. Ultimate',
 'Forza Horizon 4',
 'It Takes Two',
 'The Binding of Isaac: Repentance',
 'Enlisted',
 'Weed Shop 3',
 'Street Fighter V',
 'Outriders',
 'Worms W.M.D',
 'Pokémon Platinum',
 'Old School RuneScape',
 'VRChat',
 'Retro',
 'ARK: Survival Evolved',
 'First Class Trouble',
 "Conqueror's Blade",
 'Tibia',
 'Halo: The Master Chief Collection',
 'Sports',
 'League of Legends: Wild Rift',
 'Dungeons & Dragons',
 'osu!',
 'Spyro the Dragon: Reignited Trilogy',
 'Trials Rising',
 'Tv star',
 'Legends of Runeterra',
 'NieR Replicant Ver.1.22474487139...',
 'Phasmophobia',
 'Pokémon Sword/Shield',
 'FINAL FANTASY XIV Online',
 'Black Desert Online',
 'The Legend of Zelda: Breath of the Wild',
 'Hobo: Tough Life',
 'Hunt: Showdown',
 'StarCraft II',
 'LOST ARK',
 'TV Guide',
 'Animal Crossing: New Horizons',
 'Slay the Spire',
 'DayZ',
 'Science & Technology',
 'Pokémon Trading Card Game',
 'Food & Drink',
 'Roblox',
 'Pokémon GO',
 'Clash Royale',
 'Super Mario World',
 'Among Us']

In [140]:
data_list

[{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef10e438>,
  'channels': 4654,
  'game_name': 'Grand Theft Auto V',
  'viewers': 482305},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef15c898>,
  'channels': 5966,
  'game_name': 'Just Chatting',
  'viewers': 377468},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef15cd30>,
  'channels': 6217,
  'game_name': 'League of Legends',
  'viewers': 227867},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef15cc88>,
  'channels': 6572,
  'game_name': 'VALORANT',
  'viewers': 161435},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef173550>,
  'channels': 8705,
  'game_name': 'Fortnite',
  'viewers': 148475},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef173a90>,
  'channels': 83,
  'game_name': 'Little Nightmares II',
  'viewers': 97995},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef1730b8>,
  'channels': 6955,
  'game_name': 'Apex Legends',
  'viewers': 93512},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef1735f8>,
  'channels': 89,
  'game_name': 'Mario Kart 8',
  'viewers': 89078},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef173b38>,
  'channels': 1791,
  'game_name': "Tom Clancy's Rainbow Six Siege",
  'viewers': 80916},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef173fd0>,
  'channels': 816,
  'game_name': 'Garena Free Fire',
  'viewers': 77639},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef173400>,
  'channels': 2230,
  'game_name': 'Counter-Strike: Global Offensive',
  'viewers': 67548},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef173940>,
  'channels': 2612,
  'game_name': 'Rocket League',
  'viewers': 62828},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef173e80>,
  'channels': 5301,
  'game_name': 'Minecraft',
  'viewers': 61304},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef1734a8>,
  'channels': 5894,
  'game_name': 'Call of Duty: Warzone',
  'viewers': 60961},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef1739e8>,
  'channels': 941,
  'game_name': 'Sea of Thieves',
  'viewers': 50632},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef173f28>,
  'channels': 865,
  'game_name': 'Path of Exile',
  'viewers': 44608},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef1762b0>,
  'channels': 2341,
  'game_name': 'Dead by Daylight',
  'viewers': 40184},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef176550>,
  'channels': 1485,
  'game_name': 'NBA 2K21',
  'viewers': 34991},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef1767f0>,
  'channels': 2420,
  'game_name': 'World of Warcraft',
  'viewers': 33748},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef176a90>,
  'channels': 656,
  'game_name': 'Dota 2',
  'viewers': 33040},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef176d30>,
  'channels': 545,
  'game_name': 'Talk Shows & Podcasts',
  'viewers': 28177},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef176fd0>,
  'channels': 1379,
  'game_name': 'Escape from Tarkov',
  'viewers': 28155},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef176208>,
  'channels': 1588,
  'game_name': 'Music',
  'viewers': 25926},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef1764a8>,
  'channels': 194,
  'game_name': 'Diablo III',
  'viewers': 23790},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef176748>,
  'channels': 172,
  'game_name': 'Slots',
  'viewers': 23720},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef1769e8>,
  'channels': 227,
  'game_name': 'Hearthstone',
  'viewers': 23024},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef176c88>,
  'channels': 337,
  'game_name': 'Dark Souls III',
  'viewers': 22440},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef176f28>,
  'channels': 2175,
  'game_name': 'Call of Duty: Black Ops Cold War',
  'viewers': 20051},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef15f550>,
  'channels': 93,
  'game_name': 'The Isle',
  'viewers': 19146},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef15fc88>,
  'channels': 8178,
  'game_name': 'Call Of Duty: Modern Warfare',
  'viewers': 18738},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef1662b0>,
  'channels': 777,
  'game_name': 'FIFA 21',
  'viewers': 17823},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef166f28>,
  'channels': 137,
  'game_name': 'Poker',
  'viewers': 17084},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef166160>,
  'channels': 240,
  'game_name': 'Magic: The Gathering',
  'viewers': 16740},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef1660b8>,
  'channels': 1599,
  'game_name': 'Overwatch',
  'viewers': 16715},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef166358>,
  'channels': 424,
  'game_name': 'Monster Hunter Rise',
  'viewers': 15861},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef1630b8>,
  'channels': 355,
  'game_name': 'Rust',
  'viewers': 14618},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef163940>,
  'channels': 160,
  'game_name': 'ASMR',
  'viewers': 14606},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef15a898>,
  'channels': 152,
  'game_name': 'Chess',
  'viewers': 14541},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef15a550>,
  'channels': 1203,
  'game_name': 'Art',
  'viewers': 14109},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef15a4a8>,
  'channels': 132,
  'game_name': 'Gartic Phone',
  'viewers': 13945},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef15a940>,
  'channels': 519,
  'game_name': 'SMITE',
  'viewers': 13480},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef1792b0>,
  'channels': 8,
  'game_name': 'Battlerite',
  'viewers': 12491},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef179550>,
  'channels': 212,
  'game_name': 'Dofus',
  'viewers': 12337},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef1797f0>,
  'channels': 16,
  'game_name': 'War by Grow Games',
  'viewers': 12135},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef179b38>,
  'channels': 714,
  'game_name': 'Genshin Impact',
  'viewers': 11812},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef179f28>,
  'channels': 28,
  'game_name': 'XCOM 2',
  'viewers': 10518},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef179208>,
  'channels': 377,
  'game_name': 'Teamfight Tactics',
  'viewers': 10408},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef1794a8>,
  'channels': 109,
  'game_name': 'Resident Evil',
  'viewers': 10335},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef179748>,
  'channels': 1178,
  'game_name': 'Destiny 2',
  'viewers': 9903},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef179a90>,
  'channels': 617,
  'game_name': 'MLB The Show 21',
  'viewers': 9157},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef179e80>,
  'channels': 914,
  'game_name': "PLAYERUNKNOWN'S BATTLEGROUNDS",
  'viewers': 9153},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef14a588>,
  'channels': 382,
  'game_name': 'Super Smash Bros. Ultimate',
  'viewers': 8536},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef14a048>,
  'channels': 165,
  'game_name': 'Forza Horizon 4',
  'viewers': 8221},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef14ac18>,
  'channels': 527,
  'game_name': 'It Takes Two',
  'viewers': 8055},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef14a2e8>,
  'channels': 298,
  'game_name': 'The Binding of Isaac: Repentance',
  'viewers': 7889},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef14ad68>,
  'channels': 392,
  'game_name': 'Enlisted',
  'viewers': 7728},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef14a978>,
  'channels': 14,
  'game_name': 'Weed Shop 3',
  'viewers': 7193},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef14a908>,
  'channels': 111,
  'game_name': 'Street Fighter V',
  'viewers': 7024},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef14af98>,
  'channels': 983,
  'game_name': 'Outriders',
  'viewers': 6905},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef14ae48>,
  'channels': 9,
  'game_name': 'Worms W.M.D',
  'viewers': 6832},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef14a668>,
  'channels': 68,
  'game_name': 'Pokémon Platinum',
  'viewers': 6758},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef14acf8>,
  'channels': 205,
  'game_name': 'Old School RuneScape',
  'viewers': 6590},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef14a3c8>,
  'channels': 181,
  'game_name': 'VRChat',
  'viewers': 6440},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef14eeb8>,
  'channels': 342,
  'game_name': 'Retro',
  'viewers': 6428},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef14eac8>,
  'channels': 484,
  'game_name': 'ARK: Survival Evolved',
  'viewers': 6422},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef14e2e8>,
  'channels': 70,
  'game_name': 'First Class Trouble',
  'viewers': 6365},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef14e198>,
  'channels': 54,
  'game_name': "Conqueror's Blade",
  'viewers': 6326},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef14e978>,
  'channels': 432,
  'game_name': 'Tibia',
  'viewers': 6323},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef14e588>,
  'channels': 331,
  'game_name': 'Halo: The Master Chief Collection',
  'viewers': 5941},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef14e518>,
  'channels': 156,
  'game_name': 'Sports',
  'viewers': 5894},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef14e908>,
  'channels': 312,
  'game_name': 'League of Legends: Wild Rift',
  'viewers': 5887},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef14e668>,
  'channels': 393,
  'game_name': 'Dungeons & Dragons',
  'viewers': 5820},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef14eba8>,
  'channels': 313,
  'game_name': 'osu!',
  'viewers': 5510},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef14ee48>,
  'channels': 22,
  'game_name': 'Spyro the Dragon: Reignited Trilogy',
  'viewers': 5487},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef153f28>,
  'channels': 10,
  'game_name': 'Trials Rising',
  'viewers': 5416},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef153940>,
  'channels': 2,
  'game_name': 'Tv star',
  'viewers': 5160},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef153e80>,
  'channels': 57,
  'game_name': 'Legends of Runeterra',
  'viewers': 5145},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef153898>,
  'channels': 42,
  'game_name': 'NieR Replicant Ver.1.22474487139...',
  'viewers': 4925},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef1535f8>,
  'channels': 635,
  'game_name': 'Phasmophobia',
  'viewers': 4902},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef1533c8>,
  'channels': 299,
  'game_name': 'Pokémon Sword/Shield',
  'viewers': 4807},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef153438>,
  'channels': 913,
  'game_name': 'FINAL FANTASY XIV Online',
  'viewers': 4785},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef153198>,
  'channels': 236,
  'game_name': 'Black Desert Online',
  'viewers': 4762},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef146c18>,
  'channels': 170,
  'game_name': 'The Legend of Zelda: Breath of the Wild',
  'viewers': 4720},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef146278>,
  'channels': 23,
  'game_name': 'Hobo: Tough Life',
  'viewers': 4503},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef1460b8>,
  'channels': 340,
  'game_name': 'Hunt: Showdown',
  'viewers': 4348},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef146d68>,
  'channels': 87,
  'game_name': 'StarCraft II',
  'viewers': 4287},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef146198>,
  'channels': 78,
  'game_name': 'LOST ARK',
  'viewers': 4207},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef146828>,
  'channels': 5,
  'game_name': 'TV Guide',
  'viewers': 4053},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef146358>,
  'channels': 198,
  'game_name': 'Animal Crossing: New Horizons',
  'viewers': 3988},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef146908>,
  'channels': 48,
  'game_name': 'Slay the Spire',
  'viewers': 3917},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef146208>,
  'channels': 350,
  'game_name': 'DayZ',
  'viewers': 3851},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef146518>,
  'channels': 306,
  'game_name': 'Science & Technology',
  'viewers': 3840},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef1462e8>,
  'channels': 127,
  'game_name': 'Pokémon Trading Card Game',
  'viewers': 3810},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef146128>,
  'channels': 89,
  'game_name': 'Food & Drink',
  'viewers': 3716},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef142f98>,
  'channels': 686,
  'game_name': 'Roblox',
  'viewers': 3596},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef1429e8>,
  'channels': 61,
  'game_name': 'Pokémon GO',
  'viewers': 3492},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef142208>,
  'channels': 57,
  'game_name': 'Clash Royale',
  'viewers': 3259},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef142908>,
  'channels': 48,
  'game_name': 'Super Mario World',
  'viewers': 3228},
 {'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fd7ef142eb8>,
  'channels': 451,
  'game_name': 'Among Us',
  'viewers': 3209}]

In [15]:
game_data = "./Website/static/csv/Twitch_game_data.csv"
game_df = pd.read_csv(game_data)
game_df.head()

,Game,Rank,Month,Year,Hours_watched,Hours_Streamed,Peak_viewers,Peak_channels,Streamers,Avg_viewers,Avg_channels,Avg_viewer_ratio
0,League of Legends,1,1,2016,94377226,1362044,530270,2903,129172,127021,1833,69.29
1,Counter-Strike: Global Offensive,2,1,2016,47832863,830105,372654,2197,120849,64378,1117,57.62
2,Dota 2,3,1,2016,45185893,433397,315083,1100,44074,60815,583,104.26
3,Hearthstone,4,1,2016,39936159,235903,131357,517,36170,53749,317,169.29
4,Call of Duty: Black Ops III,5,1,2016,16153057,1151578,71639,3620,214054,21740,1549,14.03

In [31]:
clean_game = game_df.loc[:,['Game',"Month","Year","Hours_watched","Hours_Streamed","Avg_viewers","Avg_channels"]]
clean_game_16 = clean_game.loc[clean_game["Year"] == 2016,['Game',"Month","Year","Hours_watched","Hours_Streamed","Avg_viewers","Avg_channels"]]
clean_game_17 = clean_game.loc[clean_game["Year"] == 2017,['Game',"Month","Year","Hours_watched","Hours_Streamed","Avg_viewers","Avg_channels"]]
clean_game_18 = clean_game.loc[clean_game["Year"] == 2018,['Game',"Month","Year","Hours_watched","Hours_Streamed","Avg_viewers","Avg_channels"]]
clean_game_19 = clean_game.loc[clean_game["Year"] == 2019,['Game',"Month","Year","Hours_watched","Hours_Streamed","Avg_viewers","Avg_channels"]]
clean_game_20 = clean_game.loc[clean_game["Year"] == 2020,['Game',"Month","Year","Hours_watched","Hours_Streamed","Avg_viewers","Avg_channels"]]

clean_game_16.head()
clean_game_17.head()
clean_game_18.head()
clean_game_19.head()
clean_game_20.head()

,Game,Month,Year,Hours_watched,Hours_Streamed,Avg_viewers,Avg_channels
750,League of Legends,1,2020,99657869,2953365,134129,3974
751,Just Chatting,1,2020,88378302,1409820,118947,1897
752,Escape From Tarkov,1,2020,72356308,1043028,97383,1403
753,Fortnite,1,2020,53731549,4399954,72317,5921
754,Dota 2,1,2020,44025208,442024,59253,594

In [53]:
clean_game_16.groupby("Month").sum().div(1000000).round(1)

       Year  Hours_watched  Hours_Streamed  Avg_viewers  Avg_channels
Month
1       0.3          414.3            10.1          0.6           0.0
2       0.4          415.4            11.0          0.6           0.0
3       0.4          464.7            11.7          0.6           0.0
4       0.4          441.2            11.4          0.6           0.0
5       0.4          427.0            11.6          0.6           0.0
6       0.4          421.4            10.8          0.6           0.0
7       0.4          413.1            10.5          0.6           0.0
8       0.4          402.9            11.1          0.5           0.0
9       0.4          360.4            10.1          0.5           0.0
10      0.4          421.4            10.9          0.6           0.0
11      0.4          419.4            11.3          0.6           0.0
12      0.4          455.3            13.0          0.6           0.0

In [54]:
clean_game_17.groupby("Month").sum().div(1000000).round(1)

       Year  Hours_watched  Hours_Streamed  Avg_viewers  Avg_channels
Month
1       0.4          544.5            13.6          0.7           0.0
2       0.4          465.1            12.6          0.7           0.0
3       0.4          483.4            13.1          0.7           0.0
4       0.4          500.3            12.3          0.7           0.0
5       0.4          472.7            12.9          0.6           0.0
6       0.4          474.9            13.0          0.7           0.0
7       0.4          511.6            14.3          0.7           0.0
8       0.4          495.1            14.0          0.7           0.0
9       0.4          487.0            14.1          0.7           0.0
10      0.4          547.0            14.9          0.7           0.0
11      0.4          536.7            14.5          0.7           0.0
12      0.4          526.5            16.0          0.7           0.0

In [55]:
clean_game_18.groupby("Month").sum().div(1000000).round(1)

       Year  Hours_watched  Hours_Streamed  Avg_viewers  Avg_channels
Month
1       0.4          659.7            19.1          0.9           0.0
2       0.4          574.7            18.7          0.9           0.0
3       0.4          670.4            22.7          0.9           0.0
4       0.4          676.9            23.0          0.9           0.0
5       0.4          704.2            23.2          0.9           0.0
6       0.4          714.8            22.6          1.0           0.0
7       0.4          721.2            24.6          1.0           0.0
8       0.4          789.2            26.7          1.1           0.0
9       0.4          749.2            25.7          1.0           0.0
10      0.4          779.9            25.1          1.0           0.0
11      0.4          776.2            25.1          1.1           0.0
12      0.4          771.8            28.9          1.0           0.0

In [56]:
clean_game_19.groupby("Month").sum().div(1000000).round(1)

       Year  Hours_watched  Hours_Streamed  Avg_viewers  Avg_channels
Month
1       0.4          846.7            33.4          1.1           0.0
2       0.4          810.7            30.6          1.2           0.0
3       0.4          870.2            32.6          1.2           0.0
4       0.4          812.1            29.1          1.1           0.0
5       0.4          852.1            28.2          1.1           0.0
6       0.4          846.8            26.9          1.2           0.0
7       0.4          835.5            28.2          1.1           0.0
8       0.4          918.9            28.6          1.2           0.0
9       0.4          810.6            26.3          1.1           0.0
10      0.4          820.5            26.3          1.1           0.0
11      0.4          806.6            25.4          1.1           0.0
12      0.4          798.9            26.5          1.1           0.0

In [57]:
clean_game_20.groupby("Month").sum().div(1000000).round(1)

       Year  Hours_watched  Hours_Streamed  Avg_viewers  Avg_channels
Month
1       0.4          903.6            30.7          1.2           0.0
2       0.4          881.6            29.1          1.3           0.0
3       0.4         1108.8            38.6          1.5           0.1
4       0.4         1665.3            54.1          2.3           0.1
5       0.4         1596.3            59.9          2.1           0.1
6       0.4         1491.5            53.6          2.1           0.1
7       0.4         1424.2            55.7          1.9           0.1
8       0.4         1470.4            55.6          2.0           0.1
9       0.4         1444.8            52.5          2.0           0.1
10      0.4         1629.3            57.5          2.2           0.1
11      0.4         1640.8            59.5          2.3           0.1
12      0.4         1719.7            63.5          2.3           0.1

In [65]:
clean_game_20.groupby("Month").sum().div(1000).round(1)

        Year  Hours_watched  Hours_Streamed  Avg_viewers  Avg_channels
Month
1      404.0       903633.6         30725.4       1216.1          41.2
2      404.0       881641.7         29138.6       1268.5          41.8
3      404.0      1108801.7         38621.0       1492.2          51.9
4      404.0      1665273.0         54058.2       2316.0          75.1
5      404.0      1596340.0         59898.4       2148.4          80.5
6      404.0      1491496.9         53596.9       2074.3          74.4
7      404.0      1424151.5         55694.2       1916.7          74.9
8      404.0      1470424.7         55634.3       1978.9          74.8
9      404.0      1444835.2         52548.5       2009.4          73.0
10     404.0      1629308.3         57494.5       2192.8          77.3
11     404.0      1640839.5         59522.6       2282.0          82.7
12     404.0      1719727.0         63479.5       2314.5          85.3